body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

p, a {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

h1, h2, h3, h4, h5 {
    font-family: "Helvetica", "Arial", sans-serif;
    color: seashell;
    opacity: 0.9;
}


/* Header & Navigation */

header {
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%; /* Make the header span the entire width of the viewport */
    z-index: 1000; /* Ensure the header appears above other content */
    background-color: black; /* Add background color to the header */
}

.navigation {
    width: 100%; /* Make the navigation span the entire width */

    display: flex; /* Use flexbox for layout */
    padding: 10 10px; /* Add padding to space items from the edges */
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    justify-content: flex-end;
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    text-decoration: underline;
    display: flex; /* Use flexbox for layout */
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

.nav-links li {
    margin-left: 20px;
    margin-right: 70px; /* Add spacing between list items */
}

.mission-image {
    position: relative; /* Set position to relative */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.mission-image img {
    height: 700px;
}

.mission-banner-section {
    position: relative;
    display: flex;
    align-items: center;
}

.mission-banner {
    position: absolute;
    top: 27%; /* Position from the top edge */
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 2;
}

.mission-banner h2,
.mission-banner h4 {
    width: 100%;
    text-align: center;
    margin: 7px;
    padding: 0;
}

.totm {
    text-align: center; /* Center the text horizontally */
}

.totm h2, .totm h4 {
    margin-top: 10; /* Remove default margin */
}

footer {
    text-align: left;
    margin-left: 20px;
}



/* Images */

.logo img {
    padding-left: 10px;
    height: 50px;
}

.mission-image img {
    height: 700px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.image-gallery-item {
    text-align: center;
    
}

.image-gallery-item img {
    height: 200px;
    width: 300px;
    display: block;
}

.image-gallery-item h4 {
    text-align: center;
    margin-top: 10px;
}